.header .container .top-link{
	font-size: 14px;
}
.header .container .top-link li{
	list-style-type: none;
	display: inline-block;
}
.top-link a{
	margin: 2px;
}
.header .container .top-link a{
	margin: 2px;
}
.logo{
	text-align: center;
}
.cart{
	text-align: center;
}
.Copyright{
	border-top: dotted;
}
.card{
  width:75%;
  padding:0px;
  margin-left: 8%;
}
.price{
color:#ff4517;
  font-weight: 600;

}
/*cartpage*/

.content-table{
	width: 100%;
	margin: 25px 0;
	border-collapse: collapse;
	}
	.content-table tr{
	border-top: 1px solid #dddddd;
}
.content-table tr:nth-of-type(even){
	background-color: #f3f3f3;
}
th{
	text-align: left;
	padding: 5px;
	font-weight: bold;
}
td{
	padding: 10px 5px;
}

